.page-not-found-container{
    padding: 200px 150px;
    text-align: center;
    margin-bottom: 149px;

    h1{
        font-weight: bold;
        margin: 10px;
    }
    
    .page-not-found{
        color: rgb(56, 56, 201);
        font-weight: bold;
    }
}

