.users-table {
    margin-top: 30px;
    margin-left: 25px;
    width: 970px;
    border: 1px solid transparent;
    border-radius: 50px;

    th{
        color: rgb(88, 86, 86); 
        font-size: 13px;
    }
    .username{
        cursor: pointer;
    }
    .active-status {
        color: green;
        font-weight: bold;
    }

    .inactive-status {
        color: red;
    }

    svg {
        cursor: pointer;
    }
}

/* Editing User Form */

h2, form {
    color: rgb(56, 56, 201);
    text-align: center;
}

form {
    font-weight: bold;
}

label {
    margin-right: 5px;
    margin-bottom: 15px;
}

button {
    margin: 10px 10px;
    margin-left: 30px;
}

.save-btn {
    background-color: rgb(56, 56, 201);
    color: white;
    margin-left: 50px;
}
