.user-detail-container{
    width: 90%;
    margin: auto;
    padding: 10px 10px;
    display:flex;

    .user-details{
        padding: 50px 200px;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .user-profile-image{
            width: 100%;
            height: 300px;
        }
        .username{
            margin: 10px 0px;
            text-align: center;
            font-size: 18px;
        }
        .user-fullName{
            padding: 30px 50px;
            font-size: 14px;
        }
        .user-info-gender, .user-info-weight,.user-info-address{
            margin-top: 10px;
            font-size: 14px;
        }
    }
}


